<%- include("./partial/header"); %>
<main>
    <% if(leaked_test_cases == 0) { %>
    <h1>Passed all.</h1>
    <% }else{ %>
    <h1>Number of memory leak test cases: <%= not_pass_tests %></h1>
    <div class="table-reponsive box" style="white-space: pre-line">
        <table id="example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Input</th>
                    <th>Your Output</th>
                    <th>Memory Leak Information</th>
                </tr>
            </thead>
            <tbody>
                <% leaked_test_cases.forEach(function(test){ %>
                <tr>
                    <td>
                        <h6>Events:</h6>
                        <p><%= test.event_input %></p>
                        <h6>Knights:</h6>
                        <p><%= test.knight_input %></p>
                    </td>
                    <td><%= test.output %></td>
                    <td><%= test.error %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>
</main>
<%- include('./partial/footer'); %>
