<%- include("./partial/header"); %>
<main>
    <% if (not_pass_tests == 0) {%>
        <br>
        <br>
    <h1>Passed all.</h1>
    <% }else{ %>
        <div>
            You did not pass <em><%= not_pass_tests %></em> test cases.
        </div>
        <br>
        <table class="ui celled table ">
            <tbody>
                <thead>
                    <tr><th>Input</th>
                    <th>MyOutput</th>
                    <th>YourOutput</th>
                </tr></thead>
             <% not_pass.forEach((test) => { %>
                <tr>
                    <th data-label="Input">
                        <p>Knights: </p><br>
                        <p>
                            <%= test.knight_input %>
                        </p>
                        <div>Events: </div><br>
                        <p>
                            <%= test.event_input %>
                        </p>
                    </th>
                    <th data-label="MyOutput">
                        <p>
                            <% test.result.forEach((line) => { %>
                                <p><%= line %></p><br>
                            <% }); %>
                        </p>
                    </th>
                    <th data-label="YourOutput">
                        <p>
                            <% test.output.forEach((line) => { %>
                                <p><%= line %></p><br>
                            <% }); %>
                        </p>
                    </th>
                </tr>
            
                <% }) %>
            </tbody>
          </table>
        
        
    <% } %>
</main>
<%- include('./partial/footer'); %>
